.title-container h2 {
    margin: 3% 0 1% 0;
}
.p-subtitle{
    font-weight: 300;
    text-align: center;
    width: 100%;
}
.container-especifico{
    height: 450px;
}

.listadoEnfermedades{
    margin-top: 35px;
}

input{
    margin-left: 20px;
    width: 15px;
    height: 15px;
}
label{
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    .p-subtitle{
        margin-top: -25px;
    }    
}