*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #224580;
    height: 1300px;
}
main {
    width: 100vw;
    height: 1800px;
}
.container-questions{
    width: 80%;
    height: 95%;
    background-color: #eee;
	margin: 80px auto;
    padding: 2% 8%;
}
.title-container{
    width: 100%;   
    height: 50px;
}

h2{
    font-weight: 500;
    text-align:center;
    margin: 5%;

}

.form-container{
    margin: 20px 20px 20px 20px;
}
.form-container select {
    margin-bottom: 28px;
    margin-left: 1%;
    background: transparent;
    border: 1px solid #bdc3c7;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 95%;
}

.form-container select:focus{
    outline: none;
}

h3{
    font-weight: 300;
    margin-bottom: 10px;
}

.btn-container{
    margin-top: 30px;
    margin-left: 3.5%;
    width: 90%;
    height: 50px;
    /* background-color: purple; */
    display: flex;
    justify-content: flex-end;
}

button{
    height: 40px;
    width: 150px;
    border-radius: 7.5px;
    border-style: none;
    cursor: pointer;
    font-weight: 600;
}

.btn-menuPrincipal{
    margin-right: 10px;
    border-style: solid !important; 
    border-color: #224580;
    color: #224580;
}

.btn-resultado{
background-color: #224580;
color: white;
}
