* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}
main {
  display: flex;
}
.section-main {
  width: 50%;
  height: 100vh;
  padding: 8%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}
.section-main h1 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.section-main h2 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.section-main h3 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.section-main p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.btn-start {
  width: 300px;
  height: 60px;
  margin-top: 60px;
  background-color: #224580;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn-start a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}
.section-image {
  width: 50%;
  height: 100vh;
  background-color: #224580;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-image img {
  width: 550px;
  height: 450px;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .section-main{
    width: 100%;
  }
  .section-image{
    display: none;
  }
  
}